.position {
  color: lightsalmon;
}

button {
  background-color: lightseagreen;
}
.new {
  table-layout: fixed;
  width: 100%;
  text-align: center;
}

.color {
  color: teal;
  background-color: white;
}

.start,.goal {
  color: tomato;
  background-color: white;
}
.back {
  background-color: rgba(122,122,0,0.50);
}
.num {
  background-color: white;
}
.plus {
  background-color: lightskyblue;
}
.minus {
  background-color: lightpink;
}
.to0 {
  background-color: maroon;
}
.lucky {
  font-size: 32px;
  color: aliceblue;
}
table.table tr:nth-child(1) td:nth-child(2) {
	color: white;
	background-color: orange;
}
table.table tr:nth-child(2) td:nth-child(2) {
	color: #fff;
	background-color: green;
}
table.table tr:nth-child(3) td:nth-child(2) {
  color: white;
	background-color: blue;
}
table.table tr:nth-child(4) td:nth-child(2) {
  color: white;
	background-color: red;
}
table.table tr:nth-child(5) td:nth-child(2) {
  color: white;
	background-color: purple;
}
#usernow {
  color: #fff;
}