{% extends "layout.html" %}
{% block content %}
<link href='../static/css/play.css' rel='stylesheet' type='text/css'>
<br>
<div class="row">
    <div class="col-md-10">
        <h1 id="midashi">Play map</h1>
        <p><a href="/admin" class="btn btn-primary btn-lg">戻る</a></p>
</div>
<br>
<h2>goal = 24</h2>
<br>
<table class="table">
    <thead class="table-dark">
    <tr>
        <th>user_name</th>
        <th>現在地</th>
        <th>残り</th>
    </tr>
    </thead>
    <tbody>
    {% for t in task %}
    
    <tr>
        <td>{{ t['user_name'] }}</td>
        <td>{{ t['position'] }}</td>
        <td>{{ t['remain'] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<table class="new" border="1">
    <tr>
        <td class="goal" id="0">START!</td>
        <td class="color">⇨</td>
        <td class="plus" id="1">+2</td>
        <td class="color">⇨</td>
        <td class="num" id="2"></td>
        <td class="color">⇨</td>
        <td class="num" id="3"></td>
        <td class="color">⇨</td>
        <td class="num" id="4"></td>
    </tr>
    <tr>
        <td class="back"></td>
        <td class="back"></td>
        <td class="back"></td>
        <td class="back"></td>
        <td class="back"></td>
        <td class="back"></td>
        <td class="back"></td>
        <td class="back"></td>
        <td class="color">⇩</td>
    </tr>
    <tr>
        <td class="num" id="9"></td>
        <td class="color">⇦</td>
        <td class="plus" id="8">+1</td>
        <td class="color">⇦</td>
        <td class="num" id="7"></td>
        <td class="color">⇦</td>
        <td class="minus" id="6">-2</td>
        <td class="color">⇦</td>
        <td class="plus" id="5">+2</td>
    </tr>
    <tr>
        <td class="color">⇩</td>
        <td class="back"></td>
        <td class="back"></td>
        <td class="back"></td>
        <td class="back"></td>
        <td class="back"></td>
        <td class="back"></td>
        <td class="back"></td>
        <td class="back"></td>
    </tr>
    <tr>
        <td class="num" id="10"></td>
        <td class="color">⇨</td>
        <td class="num" id="11"></td>
        <td class="color">⇨</td>
        <td class="plus" id="12">+2</td>
        <td class="color">⇨</td>
        <td class="minus" id="13">-2</td>
        <td class="color">⇨</td>
        <td class="num" id="14"></td>
    </tr>
    <tr>
        <td class="back"></td>
        <td class="back"></td>
        <td class="back"></td>
        <td class="back"></td>
        <td class="back"></td>
        <td class="back"></td>
        <td class="back"></td>
        <td class="back"></td>
        <td class="color">⇩</td>
    </tr>   
    <tr>
        <td class="num" id="19"></td>
        <td class="color">⇦</td>
        <td class="minus" id="18">-1</td>
        <td class="color">⇦</td>
        <td class="num" id="17"></td>
        <td class="color">⇦</td>
        <td class="num" id="16"></td>
        <td class="color">⇦</td>
        <td class="plus" id="15">+2</td>
    </tr>
    <tr>
        <td class="color">⇩</td>
        <td class="back"></td>
        <td class="back"></td>
        <td class="back"></td>
        <td class="back"></td>
        <td class="back"></td>
        <td class="back"></td>
        <td class="back"></td>
        <td class="back"></td>
    </tr>
    <tr>
        <td class="plus" id="20">+1</td>
        <td class="color">⇨</td>
        <td class="num" id="21"></td>
        <td class="color">⇨</td>
        <td class="to0" id="22">0へ</td>
        <td class="color">⇨</td>
        <td class="minus" id="23">-2</td>
        <td class="color">⇨</td>
        <td class="goal" id="goal">GOAL!!</td>
    </tr>  
</table>

<form method="get">
    <br>
    <button type="submit" value="すごろく" onclick="saikoro();">サイコロをふる</button>
</form>
<script>
    var ml = {{ positions }};
    var m = {{ position }};
    var td = document.getElementById( ml );
    td.style.backgroundColor = 'yellow';
    // function shaker(){
    //     i = m+ ".png";                         // 画像ファイル名生成
    //     $id("image").innerHTML = "<img src='../static/image/" + i + "' width='64' height='64'>";
    // }
    var count;  // 変化しているように見せる回数
    var $id = function(id){ return document.getElementById(id); };

    /*
    * サイコロを振る
    */
    function shake(){
        var sai = Math.floor(Math.random() * 6) + 1;        // 1から6までの適当な数字
        sai = m + ".png";                         // 画像ファイル名生成
        $id("saikoro").innerHTML = "<img src='../static/image/" + sai + "' width='64' height='64'>";
    }
    /*
    * サイコロを振るときのアニメーション
    */
    function anime(){
        if(count > 20){  // 適当に20回ほど振る
            count = 0;
            $id("btn").disabled = "";   // ボタンを使える状態にする
            return 0;
        }
        shake();
        count++;
        setTimeout(anime, 50);  // 50ミリ秒間隔で表示切り替え
    }
    function saikoro(){
        count = 0;
        $id("btn").disabled = "true";   // ボタンを使用不可にする
        anime();                        // サイコロアニメ開始
    }
    /*
    * 起動時の処理
    */
    window.onload = function(){
        shake();        // 一回だけサイコロを振る
    }
</script>
</script>
<script src="../static/js/play.js"></script>
<div id="saikoro"></div>
{% endblock %}